/** Add css rules here for your application. */


/*#splash */
/*{*/
    /*width: 138px;!*399px;*!*/
    /*height: 77px;!*227px;*!*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*margin: auto;*/
    /*background-image: url(images/aya.png);*/
	/*!*-webkit-box-shadow: 10px 10px 21px -7px rgba(0,0,0,0.26);*/
	/*-moz-box-shadow: 10px 10px 21px -7px rgba(0,0,0,0.26);*/
	/*box-shadow: 10px 10px 21px -7px rgba(0,0,0,0.26);*!*/
/*}*/

#infinity
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

}

.user
{
	color:#005cb8;
	font-size:10pt;
}

.remote
{
	color:#005cb8;
	font-size:10pt;
}
.stamp
{
	color:gray;
}
.content
{
	font-size:13px;
}

.s3_selected
{
	background-color:#3cbcfb;
	border:1px solid gray;
}
.s3_normal
{

	background-color:green;
	border:1px solid gray;
}

.s3_console
{
	background-color:#e6e6e6;
	color:black;
	font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.s3_event_ready
{
	/*background-color:#D3F8E2;*/
	background-color:#D1F0D1;
	border:1px solid gray;
}

.s3_event_new
{
	background-color:#F5F5F5;
	border:1px solid gray;
}

.s3_event_pause
{
	/*background-color:#E4C1F9;*/
	background-color:#C4E1E1;
	border:1px solid gray;
}

.s3_event_process
{
	/*background-color:#FFFACF;*/
	background-color:#FFEDDE;
	border:1px solid gray;
}

.s3_event_fail
{
	/*background-color:#F694C1;*/
	background-color:#FFDEDE;
	border:1px solid gray;
}

.s3_status
{
	background-color:#1e3c92; /*#297ACC;*/
	color:e6e6e6;
	padding-left:10px;
}

.s3_zone_style
{
	background-color: rgba(21, 160, 255, 0.2); /*#297ACC;*/
}

span > object
{
	vertical-align:middle;
}

.aya_table {
	border: 1px solid #157efb;
	border-collapse: collapse;
}

.aya_table tr td {
	border: 1px solid #157efb;
	padding: 5px;
}